Cms/DataLayer/Service References/Services.Sms.Rahavard/RahyabSMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSMS_Single">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strServiceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strServiceToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMessageText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strRecipientNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSenderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberCompany" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMS_SingleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSMS_SingleResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMS_Batch_Normal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strServiceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strServiceToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMessageText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arrRecipientNumbers" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="strSenderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberCompany" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arrBatch" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="strResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendSMS_Batch_NormalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSMS_Batch_NormalResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="arrBatch" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="strResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMS_LikeToLike">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strServiceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strServiceToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arrMessageText" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="arrRecipientNumbers" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="strSenderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberCompany" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMS_LikeToLikeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSMS_LikeToLikeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMS_LikeToLike_Full">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strServiceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strServiceToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arrMessageText" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="arrRecipientNumbers" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="strSenderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberCompany" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMS_LikeToLike_FullResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMS_LikeToLike_FullResult" type="tns:ArrayOfSTC_SMSSend" />
            <s:element minOccurs="0" maxOccurs="1" name="strResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSTC_SMSSend">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="STC_SMSSend" nillable="true" type="tns:STC_SMSSend" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="STC_SMSSend">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SourceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecipientNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="smsId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="StatusSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strServiceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strServiceToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberCompany" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBatchID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatusSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatusSMSResult" type="tns:ArrayOfSTC_SMSStatus" />
            <s:element minOccurs="0" maxOccurs="1" name="strResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSTC_SMSStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="STC_SMSStatus" nillable="true" type="tns:STC_SMSStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="STC_SMSStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RecipientNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SendDate" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SingleStatusSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strServiceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strServiceToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberCompany" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSMSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SingleStatusSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SingleStatusSMSResult" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="strResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRemainCredit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strServiceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strServiceToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberCompany" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRemainCreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRemainCreditResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsBlackList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strServiceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strServiceToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMobileNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsBlackListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsBlackListResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strResultMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSMS_SingleSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS_Single" />
  </wsdl:message>
  <wsdl:message name="SendSMS_SingleSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMS_SingleResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMS_Batch_NormalSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS_Batch_Normal" />
  </wsdl:message>
  <wsdl:message name="SendSMS_Batch_NormalSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMS_Batch_NormalResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMS_LikeToLikeSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS_LikeToLike" />
  </wsdl:message>
  <wsdl:message name="SendSMS_LikeToLikeSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMS_LikeToLikeResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMS_LikeToLike_FullSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS_LikeToLike_Full" />
  </wsdl:message>
  <wsdl:message name="SendSMS_LikeToLike_FullSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMS_LikeToLike_FullResponse" />
  </wsdl:message>
  <wsdl:message name="StatusSMSSoapIn">
    <wsdl:part name="parameters" element="tns:StatusSMS" />
  </wsdl:message>
  <wsdl:message name="StatusSMSSoapOut">
    <wsdl:part name="parameters" element="tns:StatusSMSResponse" />
  </wsdl:message>
  <wsdl:message name="SingleStatusSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SingleStatusSMS" />
  </wsdl:message>
  <wsdl:message name="SingleStatusSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SingleStatusSMSResponse" />
  </wsdl:message>
  <wsdl:message name="GetRemainCreditSoapIn">
    <wsdl:part name="parameters" element="tns:GetRemainCredit" />
  </wsdl:message>
  <wsdl:message name="GetRemainCreditSoapOut">
    <wsdl:part name="parameters" element="tns:GetRemainCreditResponse" />
  </wsdl:message>
  <wsdl:message name="IsBlackListSoapIn">
    <wsdl:part name="parameters" element="tns:IsBlackList" />
  </wsdl:message>
  <wsdl:message name="IsBlackListSoapOut">
    <wsdl:part name="parameters" element="tns:IsBlackListResponse" />
  </wsdl:message>
  <wsdl:portType name="SendWebServiceSoap">
    <wsdl:operation name="SendSMS_Single">
      <wsdl:input message="tns:SendSMS_SingleSoapIn" />
      <wsdl:output message="tns:SendSMS_SingleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMS_Batch_Normal">
      <wsdl:input message="tns:SendSMS_Batch_NormalSoapIn" />
      <wsdl:output message="tns:SendSMS_Batch_NormalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMS_LikeToLike">
      <wsdl:input message="tns:SendSMS_LikeToLikeSoapIn" />
      <wsdl:output message="tns:SendSMS_LikeToLikeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMS_LikeToLike_Full">
      <wsdl:input message="tns:SendSMS_LikeToLike_FullSoapIn" />
      <wsdl:output message="tns:SendSMS_LikeToLike_FullSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StatusSMS">
      <wsdl:input message="tns:StatusSMSSoapIn" />
      <wsdl:output message="tns:StatusSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SingleStatusSMS">
      <wsdl:input message="tns:SingleStatusSMSSoapIn" />
      <wsdl:output message="tns:SingleStatusSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRemainCredit">
      <wsdl:input message="tns:GetRemainCreditSoapIn" />
      <wsdl:output message="tns:GetRemainCreditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsBlackList">
      <wsdl:input message="tns:IsBlackListSoapIn" />
      <wsdl:output message="tns:IsBlackListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendWebServiceSoap" type="tns:SendWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS_Single">
      <soap:operation soapAction="http://tempuri.org/SendSMS_Single" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS_Batch_Normal">
      <soap:operation soapAction="http://tempuri.org/SendSMS_Batch_Normal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS_LikeToLike">
      <soap:operation soapAction="http://tempuri.org/SendSMS_LikeToLike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS_LikeToLike_Full">
      <soap:operation soapAction="http://tempuri.org/SendSMS_LikeToLike_Full" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusSMS">
      <soap:operation soapAction="http://tempuri.org/StatusSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SingleStatusSMS">
      <soap:operation soapAction="http://tempuri.org/SingleStatusSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainCredit">
      <soap:operation soapAction="http://tempuri.org/GetRemainCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsBlackList">
      <soap:operation soapAction="http://tempuri.org/IsBlackList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendWebServiceSoap12" type="tns:SendWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS_Single">
      <soap12:operation soapAction="http://tempuri.org/SendSMS_Single" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS_Batch_Normal">
      <soap12:operation soapAction="http://tempuri.org/SendSMS_Batch_Normal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS_LikeToLike">
      <soap12:operation soapAction="http://tempuri.org/SendSMS_LikeToLike" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS_LikeToLike_Full">
      <soap12:operation soapAction="http://tempuri.org/SendSMS_LikeToLike_Full" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatusSMS">
      <soap12:operation soapAction="http://tempuri.org/StatusSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SingleStatusSMS">
      <soap12:operation soapAction="http://tempuri.org/SingleStatusSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainCredit">
      <soap12:operation soapAction="http://tempuri.org/GetRemainCredit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsBlackList">
      <soap12:operation soapAction="http://tempuri.org/IsBlackList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendWebService">
    <wsdl:port name="SendWebServiceSoap" binding="tns:SendWebServiceSoap">
      <soap:address location="http://panel.rahyab.ir/RahyabSMSService.asmx" />
    </wsdl:port>
    <wsdl:port name="SendWebServiceSoap12" binding="tns:SendWebServiceSoap12">
      <soap12:address location="http://panel.rahyab.ir/RahyabSMSService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>